[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-silk = "*"
django-solo = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
bs4 = "*"
django-money = "*"
django-imagekit = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
