{% load static %}
    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative me-lg-4">
                        <img class="img-fluid w-100" src="{% static 'img/feature.jpg' %}" alt="">
                        <span
                            class="position-absolute top-50 start-100 translate-middle bg-white rounded-circle d-none d-lg-block"
                            style="width: 120px; height: 120px;"></span>
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="fw-medium text-uppercase text-dark mb-2">Why Choosing Us!</p>
                    <h1 class="display-5 mb-4 text-primary">Few Reasons Why People Choosing Us!</h1>
                    <p class="mb-4 ">
                        Our company, in its five years in Saudia Arabia has participated in some of the country’s biggest public projects along with renowned companies such as Vinci, Tekfen, Daewoo, Dogus, Man Enterprise, G.E.T. and Bin Omran. The company is currently employing more than 500 people, all of which are highly trained, certified and experienced in their individual fields of work. One of our company’s competitive advantages is the continuous investment in its technical equipment, some of which are the biggest currently operating in KSA.
                    </p>
                    <div class="row gy-4">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <h4 class="text-primary"> ISO {{"STANDARDS"|lower|title}}</h4>
                                    <span>The company on September 2017 acquired the ISO 9001” Quality Management”, ISO 14001 “Environmental Management System” and ISO 18001” Occupational Health And Safety Audit & Certification”.</span>
                                    <div class="pt-2">
                                        <p><i class="fa fa-check text-primary me-2"></i>{{"Improved employee training, development and communication"|lower |title}}</p>
                                        <p><i class="fa fa-check text-primary me-2"></i>{{"More efficient delivery of services"|lower |title}}</p>
                                        <p><i class="fa fa-check text-primary me-2"></i>{{"Compliance with legislation and regulations"|lower |title}}</p>
                                        <p><i class="fa fa-check text-primary me-2"></i>{{"Reduced costs"|lower |title}}</p>
                                        <p ><i class="fa fa-check text-primary me-2"></i>{{"Reduced errors"|lower |title}}</p>
                                        <p class="mb-0"><i class="fa fa-check text-primary me-2"></i>{{"Greater ability to deliver projects on time"|lower |title}}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Video Modal Start -->
        <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                            allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
