   {% load static %}
   <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="fw-medium text-uppercase text-dark mb-2">Our Services</p>
                <h1 class="display-5 mb-4 text-primary">We Provide Best Industrial Services</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0 text-primary">{{"GENERAL CONTRACTING"|lower|title}}</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">General contractors manage and hire subcontractors while acting as the primary contact with construction clients. </p>
                            </div>
                        </div>
                        {% comment %} <a class="btn btn-light text-primary" href="">Read More</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0 text-primary">{{"EARTHWORKS"|lower|title}}</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Earthworks protects communities and the environment from the adverse impacts of mineral and energy development while promoting sustainable solutions.</p>
                            </div>
                        </div>
                        {% comment %} <a class="btn btn-light text-primary" href="">Read More</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0 text-primary">{{"MARINE SERVICES"|lower|title}}</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Marine Services is a Middle Eastern technical solutions and services provider. We integrate strong Industrial and Marine knowledge.</p>
                            </div>
                        </div>
                        {% comment %} <a class="btn btn-light text-primary" href="">Read More</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0 text-primary">{{"INFRASTRUCTURE"|lower|title}}</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">the fundamental facilities and systems serving a country, city, or area, as transportation and communication systems,.</p>
                            </div>
                        </div>
                        {% comment %} <a class="btn btn-light text-primary" href="">Read More</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0 text-primary">{{"STRUCTURE & UTILITY SERVICES"|lower|title}}</h3>
                                <hr class="w-25">
                            </div>
                            <div class="service-text">
                                <p class="text-white mb-0">Structures associated with the distribution, but not transmission, of telecommunication or electrical power services.</p>
                            </div>
                        </div>
                        {% comment %} <a class="btn btn-light text-primary" href="">Read More</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

